<form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'id'">ID</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="id" id="id" placeholder="ID" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'name'">Name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name" id="name" placeholder="Name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'species'">Species</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="species" id="species" placeholder="Species" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'breed'">Breed</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="breed" id="breed" placeholder="Breed" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'age'">Age</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="age" id="age" placeholder="Age" type="number" />
        </nz-form-control>
    <br />
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'owner'">Owner</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="owner" id="owner" placeholder="Owner" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'hireDate'">Hire Date</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="hireDate" id="hireDate" placeholder="Hire Date" type="date" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'status'">Status</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="status" id="status" placeholder="Status" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button nzType="primary" (click)="onCreate()">Create</button>
      <button nz-button nzType="default" (click)="onSearch()">Search</button>
      <button nz-button nzType="default" (click)="onUpdate()">Update</button>
      <button nz-button nzType="default" (click)="onDelete()">Delete</button>
    </div>
  </div>
</form>
<div class="search-result-list">Search Result List</div>
